.article {
  display: grid;
  place-items: center;
  color: var(--color-very-dark-blue);
  text-align: center;
  margin: 6rem 0;
}

.article div {
  display: grid;
  place-items: center;
}

.article h1,
.article h2 {
  font-size: 1.75rem;
}

.article p {
  color: var(--color-very-dark-grayish-blue);
  font-size: 1.1rem;
}

.article h1 {
  order: -2;
}

.article h1,
.article h2,
.article p {
  padding: 0 2rem;
}

.article picture {
  order: -1;
  margin: 2rem 0;
  width: 100%;
}

.article img {
  width: 100%;
}

@media (min-width: 600px) {
  .article {
    grid-template-columns:
      [full-start] minmax(1rem, 1fr)
      [main-start] minmax(0, var(--max-width))
      [main-end] minmax(1rem, 1fr)
      [full-end];
    margin: 4rem 0;
    overflow-x: hidden;
    text-align: left;
  }

  .article div {
    grid-column: main;
    grid-row: 1/2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .article h1,
  .article h2,
  .article p {
    padding: 0;
  }

  .article h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 2rem;
    place-self: center;
  }

  .article h2 {
    font-size: 1.5rem;
  }

  .article p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
  }

  .article picture {
    position: relative;
    z-index: -1;
    grid-column: 1/3;
    grid-row: 1/5;
    margin: 0;
  }

  .primary {
    grid-row: 2/3;
    align-self: start;
  }

  .secondary {
    grid-row: 3/4;
    align-self: end;
  }

  .article img {
    position: relative;
    z-index: -1;
  }

  .left .primary,
  .left .secondary {
    grid-column: 1/2;
  }

  .left img {
    right: -35vw;
  }

  .right .primary,
  .right .secondary {
    grid-column: 2/3;
  }

  .right img {
    left: -35vw;
  }
}
