.callout {
  display: grid;
  place-items: center;
  text-align: center;
  margin: 15rem 0 10rem 0;
  background: url("../../images/bg-pattern-circles.svg"),
    linear-gradient(
      0deg,
      var(--gradient-very-dark-desaturated-blue) 0%,
      var(--gradient-very-dark-gray-blue) 100%
    );
  background-repeat: no-repeat;
  background-size: auto 110%, cover;
  background-position: center 450%, center;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  position: relative;
}

.callout h1 {
  margin-top: 12rem;
  margin-bottom: 0;
  font-size: 1.75rem;
  font-weight: 400;
}

.callout p {
  font-size: 1.1rem;
  line-height: 1.75rem;
  opacity: 0.8;
  margin-bottom: 6rem;
}

.callout h1,
.callout p {
  color: white;
}

.callout img {
  position: absolute;
  top: 15%;
  transform: translateY(-75vw);
}

@media (min-width: 600px) {
  .callout {
    grid-template-columns:
      [full-start] minmax(1rem, 1fr)
      [main-start] minmax(0, var(--max-width))
      [main-end] minmax(1rem, 1fr)
      [full-end];
    text-align: left;
    background: url("../../images/bg-pattern-circles.svg"),
      linear-gradient(
        270deg,
        var(--gradient-very-dark-desaturated-blue) 0%,
        var(--gradient-very-dark-gray-blue) 100%
      );
    background-position: left -50% bottom 20%, center;
    background-repeat: no-repeat;
  }

  .callout h1 {
    font-size: 2rem;
    margin: 0;
  }

  .container {
    display: grid;
    position: relative;
    grid-area: main;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "unused text";
  }

  .container div {
    margin: 8rem 0 8rem 2rem;
    grid-area: text;
    align-self: center;
  }

  .container img {
    position: absolute;
    top: -4rem;
    left: -3rem;
    transform: unset;
  }

  .container p {
    margin: 0.5rem 0 0 0;
  }
}
