---
import './Footer.css';

const links = [
    { name: "Product",
      links: [
        {name: 'Overview', target: '#', ariaLabel: 'Visit our Overview Page to Learn More About Us'},
        {name: 'Pricing', target: '#', ariaLabel: 'View our Pricing Here'},
        {name: 'Marketplace', target: '#', ariaLabel: 'Shop on Our Marketplace'},
        {name: 'Features', target: '#', ariaLabel: 'Learn About Our Features'},
        {name: 'Integrations', target: '#', ariaLabel: 'Learn About Integrating With Blogr'},
    ],},
    { name: "Company",
      links: [
        {name: 'About', target: '#', ariaLabel: 'About Our Company'},
        {name: 'Team', target: '#', ariaLabel: 'View Our Team'},
        {name: 'Blog', target: '#', ariaLabel: 'Read Our Blog'},
        {name: 'Careers', target: '#', ariaLabel: 'View Our Careers Page'},
    ],},
    { name: "Connect",
      links: [
        {name: 'Contact', target: '#', ariaLabel: 'Contact Us'},
        {name: 'Newsletter', target: '#', ariaLabel: 'Read Our Newsletter'},
        {name: 'LinkedIn', target: '#', ariaLabel: 'Visit Our LinkedIn Page'},
    ],},
];
---

<footer class="footer">
    <div class="footer-container">
        <img src="./images/logo.svg" alt="" aria-hidden="true"/>
        {links.map(category => (
            <section class="footer-links">
                <span>{category.name}</span>
            <ul>
                {category.links.map(link => (
                    <li>
                        <a href={link.target} aria-label={link.ariaLabel}>
                            {link.name}
                        </a>
                    </li>
                ))}
            </ul>
        </section>
        ))}
    </div>
</footer>