---
import './Hero.css';
---

<article class="hero">
    <h1>A modern publishing platform</h1>
    <p>Grow your audience and build your online brand</p>
    <a href="#" aria-label="Start for free">Start for Free</a>
    <a href="#" aria-label="Learn more about Blogr">Learn More</a>
</article>