.hero {
  padding: 10rem 1rem 8rem 1rem;
  background: url("../../images/bg-pattern-intro-mobile.svg"),
    linear-gradient(180deg, var(--gradient-very-light-red) 0%, var(--gradient-light-red) 100%);
  background-repeat: no-repeat;
  background-position: 40% 45%;
  background-size: 350% 350%, 100% 100%;
  color: white;
  text-align: center;
  border-bottom-left-radius: 5rem;
}

.hero h1 {
  font-size: 2rem;
  font-weight: 400;
}

.hero p {
  font-size: 1.25rem;
  font-weight: 400;
  opacity: 80%;
  margin-bottom: 2rem;
  color: white;
}

.hero a:any-link {
  display: inline-block;
  padding: 0.75rem 1rem;
  white-space: nowrap;
  border-radius: 3rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-decoration: none;
  width: 14ch;
  transition: 0.25s color, 0.25s background-color;
  margin: 1rem 0.5rem;
}

.hero a:first-of-type {
  color: var(--gradient-light-red);
  background-color: white;
}

.hero a:first-of-type:hover {
  color: white;
  background-color: var(--color-white-opacity);
}

.hero a:last-of-type {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}
.hero a:last-of-type:hover {
  color: var(--gradient-light-red);
  background-color: white;
}

@media (min-width: 600px) {
  .hero {
    background: url("../../images/bg-pattern-intro-desktop.svg"),
      linear-gradient(90deg, var(--gradient-very-light-red) 0%, var(--gradient-light-red) 100%);
    background-position: 27% 52%;
    background-size: unset;
  }

  .hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
}
