.dropdown {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
  width: 100%;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.dropdown span {
  display: block;
  margin-bottom: 1rem;
}

.dropdown span:hover {
  color: var(--color-very-dark-grayish-blue);
}

.dropdown span::after {
  display: inline-block;
  content: url("../../images/icon-arrow-dark.svg");
  margin-left: 0.5ch;
  transform: rotate(0deg);
  transform-origin: 50% 60%;
  transition: 0.5s;
}

.dropdown ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 1rem;
  background-color: var(--color-very-light-grayish-blue);
  border-radius: 0.5rem;
  max-height: 0;
  transition: max-height 0.5s, padding 0.25s;
  flex-basis: 0%;
  overflow: hidden;
}

.dropdown li {
  flex-basis: 100%;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
}

.dropdown li:hover {
  background-color: white;
}

.dropdown a {
  text-decoration: none;
  padding: 0.5rem 0;
  width: 100%;
  color: transparent;
  transition: color 0.5s;
}

.open ul {
  padding: 0.5rem 0;
  max-height: 100vh;
  transition: max-height 1s, padding 0.5s, color 0.25s;
}

.open a {
  color: var(--color-very-dark-grayish-blue);
  transition: color 0.5s;
}

.open span {
  color: var(--color-very-dark-grayish-blue);
}

.open span::after {
  transform: rotate(180deg);
}

@media (min-width: 600px) {
  .dropdown {
    position: relative;
    margin: 0 0.5rem;
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
  }

  .dropdown span {
    margin-bottom: 0;
  }

  .dropdown span:hover {
    color: white;
    font-weight: 700;
    text-decoration: underline;
  }

  .dropdown span::after {
    content: url("../../images/icon-arrow-light.svg");
  }

  .dropdown ul {
    position: absolute;
    left: -1.5rem;
    top: 2rem;
    width: 150px;
    margin: 0;
    background-color: white;
  }

  .dropdown a:hover {
    font-weight: 700;
  }

  .dropdown li {
    padding: 0.5rem 1rem;
  }

  .open span {
    color: white;
    font-weight: 700;
    text-decoration: underline;
  }

  .open ul {
    padding: 1rem 0;
  }
}
