header {
  width: 100%;
}

nav {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: calc(var(--max-width) + 1rem);
}

.hamburger {
  appearance: none;
  background-color: transparent;
  height: 36px;
  cursor: pointer;
  border: none;
  padding: 0;
}

.menuContainer {
  display: none;
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  padding: 0 1rem;
  margin: 0 1rem;
  background-color: white;
  border-radius: 5px;
}

.menu {
  display: grid;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.menuOpen {
  display: unset;
}

.credentialsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  border-top: 1px solid var(--color-grayish-blue);
  padding: 1.5rem 0;
}

.credentialsContainer a:any-link {
  max-width: fit-content;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

.credentialsContainer a {
  color: var(--color-very-dark-gray-blue);
  font-size: 1rem;
  font-weight: 700;
}

.credentialsContainer a:hover {
  color: var(--color-very-dark-grayish-blue);
}

.signup[class*="signup"] {
  color: white;
  border-radius: 5rem;
  padding: 0.75rem 2rem;
  background: linear-gradient(90deg, var(--gradient-very-light-red), var(--gradient-light-red));
  background-size: 100% 100%;
  transition: 0.5s;
}

.signup[class*="signup"]:hover {
  color: white;
  background-size: 200% 200%;
}

@media (min-width: 600px) {
  nav {
    justify-content: normal;
  }

  .hamburger {
    display: none;
  }

  .menuContainer {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    position: static;
    background-color: transparent;
    flex-direction: row;
    color: white;
    top: unset;
    padding: 0;
    margin: 0;
  }

  .menu {
    display: flex;
    margin: 0 0 0 2rem;
  }

  .credentialsContainer {
    border-top: unset;
    flex-direction: row;
    padding: 0;
  }

  .credentialsContainer a {
    font-weight: 400;
  }

  .credentialsContainer a:hover {
    color: white;
    font-weight: 700;
    text-decoration: underline;
  }

  .signup[class*="signup"] {
    color: var(--gradient-light-red);
    background: white;
    font-weight: 700;
  }

  .signup[class*="signup"]:hover {
    color: white;
    background: var(--color-white-opacity);
    text-decoration: none;
  }
}
